/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	width: 100%;
	min-width: 300px;
	display: none;
	top: 100%;
	left: 0;
	z-index: 999;
	  box-shadow: -10px 10px 20px rgba(119, 119, 119, 0.25);
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** OWN STYLE ***/

.sf-menu ul li {
	width: 100%!important;
}

/*** OTHERS ***/
ul.subsub li a:hover:after,
ul.subsub li a.active:after {
	content: none!important;
}

ul.subsub > li > a {
	background: #FFFFFF!important;
}

ul.subsub > li > a:last-child:before {
	content: '';
	width: 100%;
	height: 1px;
	background: rgba(255, 165, 2, 0.27);
	display: block;
	margin: auto;
}
ul.subsub:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 16px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FEE6B9;
}