<span style='color: #000'>111 frames</span>	<span style='color: #900'>56,832 KB</span>	<span style='color: #090'>136.66 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />