/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
  url('fonts/flexslider-icon.woff') format('woff'),
  url('fonts/flexslider-icon.ttf') format('truetype'),
  url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
 margin: 0;
 position: relative;
 zoom:1;
}
.flexslider.principal {
/* border-top: 4px solid #fff;
*/ /* border-bottom: 15px solid #00466D; */
}
.flex-viewport {
 max-height: 2000px;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease;
}
.loading .flex-viewport {
 max-height: 300px;
}
.flexslider .slides {
 zoom: 1;
}
.carousel li {
 margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a  {
 display: flex;
 align-items: center;
 width: auto;
 height: 20%;
 margin-top: auto;
 margin-bottom: auto;
 position: absolute;
 top: 0;
 bottom: 0;
 z-index: 10;
 overflow: hidden;
 opacity: 1;
 cursor: pointer;
 text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
 background: rgb(253, 253, 253);;
}

.flex-direction-nav .flex-prev {
  background-position: center left;
  background-repeat: no-repeat;
  left: 0;
}
.flex-direction-nav .flex-next {
  background-position: center right;
  background-repeat: no-repeat;
  right: 0;
}


.flexslider:hover .flex-prev:hover {
    background-image: url('../../images/arrows4.png');
    background-repeat: no-repeat;
    /* width: 26px;
    height: 40px;
    margin: 0 20px; */
    content: '';

  opacity: 0.7; 
}

.flexslider:hover .flex-next:hover
 {
    background-image: url('../../images/arrows dercha.png');
    background-repeat: no-repeat;
    /* width: 26px;
    height: 40px;
    margin: 0 20px; */
    content: '';

  opacity: 0.7; 
}




.flex-direction-nav .flex-disabled {
 opacity: 1!important;
 filter:alpha(opacity=1);
 cursor: default;
 background: none!important;
}
.flex-direction-nav a:before  {
/*  background-image: url('../../images/arrows1.png'); */
 background-repeat: no-repeat;
 width: 26px;
 height: 40px;
 margin: 0 20px;
 content: '';
 opacity: 0.7;
}
.flex-direction-nav a.flex-prev:before  {
  background-position: left center;
}
.flex-direction-nav a.flex-next:before  {
  background-position: right center;
}
/* Pause/Play */
.flex-pauseplay a {
 display: block;
 width: 20px;
 height: 20px;
 position: absolute;
 bottom: 5px;
 left: 10px;
 opacity: 1;
 z-index: 10;
 overflow: hidden;
 cursor: pointer;
 color: #000;
}
.flex-pauseplay a:before  {
 font-family: "flexslider-icon";
 font-size: 20px;
 display: inline-block;
 content: '\f004';
}
.flex-pauseplay a:hover  {
 opacity: 1;
}
.flex-pauseplay a.flex-play:before {
 content: '\f003';
}
/* Control Nav
.flex-control-paging li a:hover {
 background: rgba(0,0,0,0.7);
 }
.flex-control-paging li a.flex-active {
 background: #000;
  background: rgba(0,0,0,0.9);
  cursor: default;
 }
.flex-control-thumbs {
margin: 5px 0 0;
 position: static;
 overflow: hidden;
}
.flex-control-thumbs li {
width: 25%;
 float: left;
 margin: 0;
}
.flex-control-thumbs img {
width: 100%;
 display: block;
 opacity: .7;
 cursor: pointer;
}
.flex-control-thumbs img:hover {
opacity: 1;
}
.flex-control-thumbs .flex-active {
opacity: 1;
 cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
   opacity: 1;
    left: 10px;
   }
  .flex-direction-nav .flex-next {
   opacity: 1;
    right: 10px;
   }
}
*/
.flex-control-nav {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 11px;
}
.flex-control-nav li {
  margin: 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  background: #fff;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
  background: #DC7177;
}
.flex-control-paging li a.flex-active {
 background: #E20613;
 cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 1;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
   opacity: 1;
   left: 10px;
 }
 .flex-direction-nav .flex-next {
   opacity: 1;
   right: 10px;
 }
}
.indicaciones .flex-direction-nav .flex-prev {
 left: 0px;
 background: url('images/back.png') no-repeat;
}
.indicaciones .flex-direction-nav .flex-next {
 right: 0px;
 text-align: right;
 background: url('images/next.png') no-repeat;
}
.indicaciones .flex-direction-nav .flex-prev:hover {
 left: 0px;
 background: url('images/back.png') no-repeat;
}
.indicaciones .flex-direction-nav .flex-next:hover {
 right: 0px;
 text-align: right;
 background: url('images/next.png') no-repeat;
}
.indicaciones .flex-direction-nav a  {
 display: block;
 width: 104px;
 height: 24px;
 cursor: pointer;
 color: rgba(0,0,0,0.8);
 text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
 position: initial;
 float: left;
 margin: 0;
}
.indicaciones .flex-direction-nav a:first-child {
  margin-right: 10px;
}
.indicaciones .flex-direction-nav li {
  min-height: initial;
}
.indicaciones .flex-direction-nav {
  height: 24px;
  width: 230px;
  float: right;
  margin: 0 10px 10px 10px;
}
.indicaciones .flex-direction-nav li img {
  border-radius: 4px;
}



/* ======================= */


.carrusel .flex-direction-nav a  {
 background-color: transparent;
 height: 23px;
}
.carrusel .flex-direction-nav a:before  {
 background-image: url('../../images/sprite-arrows.png');
 background-repeat: no-repeat;
 width: 18px;
 height: 23px;
 margin: 0 15px;
 content: '';
}
.carrusel .flex-direction-nav a.flex-prev:before  {
  background-position: center -3px;
}
.carrusel .flex-direction-nav a.flex-next:before  {
  background-position: center -254px;
}